In [2]:
import numpy as np 
import pandas as pd
df=pd.read_csv("./chipotle.tsv",sep="\t")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [3]:
df_copy=df.copy()
df_copy
df.isnull().sum()
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [4]:
df["item_price"]=df["item_price"].str.replace("$","")

df["item_price"]=df["item_price"].astype(float)
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [5]:
df.dtypes

df["choice_description"]=df["choice_description"].str.replace("[","")
df["choice_description"]=df["choice_description"].str.replace("]","")
#df["choice_description"]=df["choice_description"].str.replace(np.nan,"NONE")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,Clementine,3.39
2,1,1,Nantucket Nectar,Apple,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",11.75
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",11.25
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",8.75
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",8.75

In [6]:
# Calculate total quantity sold for each item
item_quantity = df.groupby('item_name')['quantity'].sum()
# print(item_quantity)
# Sort the items based on total quantity in descending order and fetch the top 5
top_5_items = item_quantity.sort_values(ascending=False).head(5)

# Display the result
print("Top 5 items based on total quantity sold:")
print(top_5_items)

Top 5 items based on total quantity sold:
item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

In [7]:
# Calculate total quantity sold for each item
choice_quantity = df.groupby("choice_description")['quantity'].sum()
# print(item_quantity)
# Sort the items based on total quantity in descending order and fetch the top 5
top_5_choice = choice_quantity.sort_values(ascending=False).head(5)

# Display the result
print("Top 5 choices based on total quantity sold:")
print(top_5_choice)

Top 5 choices based on total quantity sold:
choice_description
Diet Coke                                                             159
Coke                                                                  143
Sprite                                                                 89
Fresh Tomato Salsa, Rice, Black Beans, Cheese, Sour Cream, Lettuce     49
Fresh Tomato Salsa, Rice, Black Beans, Cheese, Sour Cream              42
Name: quantity, dtype: int64

In [8]:
# Calculate total quantity sold for each item
item_quantity = df.groupby('item_name')['quantity'].sum()
total_order = df.groupby('order_id')['quantity'].count()

print(total_order)

order_id
1       4
2       1
3       2
4       2
5       2
       ..
1830    2
1831    3
1832    2
1833    2
1834    3
Name: quantity, Length: 1834, dtype: int64

In [9]:
revenue_per_product=df.groupby(['item_name', 'choice_description'])['item_price'].sum()
print(revenue_per_product)

item_name          choice_description
6 Pack Soft Drink  Coke                                                                                                             136.29
                   Diet Coke                                                                                                        162.25
                   Lemonade                                                                                                          12.98
                   Nestea                                                                                                            12.98
                   Sprite                                                                                                            32.45
                                                                                                                                     ...
Veggie Soft Tacos  Fresh Tomato Salsa, Black Beans, Cheese, Sour Cream, Lettuce                                                       8.75
                   Fresh Tomato Salsa, Fajita Vegetables, Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce     11.25
                   Roasted Chili Corn Salsa (Medium), Black Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce                        8.49
                   Roasted Chili Corn Salsa, Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Lettuce                             8.75
                   Tomatillo Red Chili Salsa, Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, Lettuce                       11.25
Name: item_price, Length: 1859, dtype: float64

In [13]:
#Whta is average revenue amount per order?
revenue_per_order=df.groupby(['order_id'])['item_price'].mean()
print(revenue_per_order)

order_id
1        2.890000
2       16.980000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: item_price, Length: 1834, dtype: float64

In [14]:
#How many different items are sold?
unique = df.drop_duplicates(subset=['item_name'])

# Display the unique DataFrame based on specific columns
print("Unique DataFrame based on specific columns:")
print(unique["item_name"])
print(len(unique))

Unique DataFrame based on specific columns:
0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
6                               Side of Chips
7                               Steak Burrito
8                            Steak Soft Tacos
10                        Chips and Guacamole
11                       Chicken Crispy Tacos
12                         Chicken Soft Tacos
16                            Chicken Burrito
18                                Canned Soda
21                           Barbacoa Burrito
27                           Carnitas Burrito
33                              Carnitas Bowl
34                              Bottled Water
38      Chips and Tomatillo Green Chili Salsa
39                              Barbacoa Bowl
40                                      Chips
44                         Chicken Salad Bowl
54                                 Steak Bowl
56                        Barbacoa Soft Tacos
57                             Veggie Burrito
62                                Veggie Bowl
92                         Steak Crispy Tacos
111       Chips and Tomatillo Red Chili Salsa
168                     Barbacoa Crispy Tacos
186                         Veggie Salad Bowl
191        Chips and Roasted Chili-Corn Salsa
233        Chips and Roasted Chili Corn Salsa
237                       Carnitas Soft Tacos
250                             Chicken Salad
263                         Canned Soft Drink
281                          Steak Salad Bowl
298                         6 Pack Soft Drink
300       Chips and Tomatillo-Red Chili Salsa
445                                      Bowl
510                                   Burrito
520                              Crispy Tacos
554                     Carnitas Crispy Tacos
664                               Steak Salad
674         Chips and Mild Fresh Tomato Salsa
738                         Veggie Soft Tacos
1132                      Carnitas Salad Bowl
1229                      Barbacoa Salad Bowl
1414                                    Salad
1653                      Veggie Crispy Tacos
1694                             Veggie Salad
3750                           Carnitas Salad
Name: item_name, dtype: object
50

In [24]:
#Find total cost and quantity of every unique items
unique = df.drop_duplicates(subset=['item_name'])
unique_cost=unique.groupby("item_name")["item_price"].sum()
unique_quantity=unique.groupby("item_name")["quantity"].sum()
# Display the unique DataFrame based on specific columns
print("Unique DataFrame based on specific columns:")
print(unique_cost)
#print(unique_quantity)
#print(len(unique))

Unique DataFrame based on specific columns:
item_name
6 Pack Soft Drink                         6.49
Barbacoa Bowl                            11.75
Barbacoa Burrito                          8.99
Barbacoa Crispy Tacos                    11.75
Barbacoa Salad Bowl                      11.89
Barbacoa Soft Tacos                       9.25
Bottled Water                             1.09
Bowl                                     22.20
Burrito                                   7.40
Canned Soda                               2.18
Canned Soft Drink                         1.25
Carnitas Bowl                             8.99
Carnitas Burrito                          8.99
Carnitas Crispy Tacos                     9.25
Carnitas Salad                            8.99
Carnitas Salad Bowl                      11.89
Carnitas Soft Tacos                       9.25
Chicken Bowl                             16.98
Chicken Burrito                           8.49
Chicken Crispy Tacos                      8.75
Chicken Salad                            10.98
Chicken Salad Bowl                        8.75
Chicken Soft Tacos                        8.75
Chips                                     2.15
Chips and Fresh Tomato Salsa              2.39
Chips and Guacamole                       4.45
Chips and Mild Fresh Tomato Salsa         3.00
Chips and Roasted Chili Corn Salsa        2.95
Chips and Roasted Chili-Corn Salsa        2.39
Chips and Tomatillo Green Chili Salsa     2.95
Chips and Tomatillo Red Chili Salsa       2.95
Chips and Tomatillo-Green Chili Salsa     2.39
Chips and Tomatillo-Red Chili Salsa       2.39
Crispy Tacos                              7.40
Izze                                      3.39
Nantucket Nectar                          3.39
Salad                                     7.40
Side of Chips                             1.69
Steak Bowl                                8.99
Steak Burrito                            11.75
Steak Crispy Tacos                        9.25
Steak Salad                               8.99
Steak Salad Bowl                         23.78
Steak Soft Tacos                          9.25
Veggie Bowl                              11.25
Veggie Burrito                           11.25
Veggie Crispy Tacos                       8.49
Veggie Salad                              8.49
Veggie Salad Bowl                        11.25
Veggie Soft Tacos                        11.25
Name: item_price, dtype: float64

In [23]:
#Find the average of every unique item
unique_avg_cost=unique.groupby("item_name")["item_price"].mean()
print(unique_avg_cost)

item_name
6 Pack Soft Drink                         6.49
Barbacoa Bowl                            11.75
Barbacoa Burrito                          8.99
Barbacoa Crispy Tacos                    11.75
Barbacoa Salad Bowl                      11.89
Barbacoa Soft Tacos                       9.25
Bottled Water                             1.09
Bowl                                     22.20
Burrito                                   7.40
Canned Soda                               2.18
Canned Soft Drink                         1.25
Carnitas Bowl                             8.99
Carnitas Burrito                          8.99
Carnitas Crispy Tacos                     9.25
Carnitas Salad                            8.99
Carnitas Salad Bowl                      11.89
Carnitas Soft Tacos                       9.25
Chicken Bowl                             16.98
Chicken Burrito                           8.49
Chicken Crispy Tacos                      8.75
Chicken Salad                            10.98
Chicken Salad Bowl                        8.75
Chicken Soft Tacos                        8.75
Chips                                     2.15
Chips and Fresh Tomato Salsa              2.39
Chips and Guacamole                       4.45
Chips and Mild Fresh Tomato Salsa         3.00
Chips and Roasted Chili Corn Salsa        2.95
Chips and Roasted Chili-Corn Salsa        2.39
Chips and Tomatillo Green Chili Salsa     2.95
Chips and Tomatillo Red Chili Salsa       2.95
Chips and Tomatillo-Green Chili Salsa     2.39
Chips and Tomatillo-Red Chili Salsa       2.39
Crispy Tacos                              7.40
Izze                                      3.39
Nantucket Nectar                          3.39
Salad                                     7.40
Side of Chips                             1.69
Steak Bowl                                8.99
Steak Burrito                            11.75
Steak Crispy Tacos                        9.25
Steak Salad                               8.99
Steak Salad Bowl                         23.78
Steak Soft Tacos                          9.25
Veggie Bowl                              11.25
Veggie Burrito                           11.25
Veggie Crispy Tacos                       8.49
Veggie Salad                              8.49
Veggie Salad Bowl                        11.25
Veggie Soft Tacos                        11.25
Name: item_price, dtype: float64